body {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
}

a {
    color: #0A3871;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 94%;
    width: 100%;
}

.main {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex: auto;
    height: inherit;
    justify-content: start;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.logo-link {
    display: inline-block;
    padding: 16px 0 80px 0;
}
.canvas {
    padding-bottom: 2rem;
}
.canvas-layout {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/** Sections */
.home {
    display: flex;
    height: 70vh;
}
.new-word,
.game {
    display: none;
} 

.textarea {
    align-items: center;
    background: #E5E5E5;
    border: none;
    color: #0A3871;
    display: flex;
    font-size: 32px;
    font-weight: 400;
    height: 350px;
    justify-content: center;
    line-height: 150%;
    outline: none;
    width: 99%;
    resize: none;
}

.actions {
    margin: 0 auto;
    width: 100%;
    display: grid;
}

.info {
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    display: flex;
    flex-direction: row;
    align-content: center;
}
.info::before {
    background-position: center;
    content: url( '../images/alert-icon.png' );
    display: block;
    height: 16px;
    left: 0;
    padding-right: 6px;
    position: relative;
    top: 0;
    width: 16px;
}

/** Buttons */
.btn {
    border-radius: 24px;
    cursor: pointer;
    padding: 24px;
    width: 100%;
}
.btn-group {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.btn-save,
.btn-start,
.btn-new-game {
    background: #0A3871;
    border: 1px solid #0A3871;
    color: #FFF;
}
.btn-cancel,
.btn-add-word,
.btn-desist {
    color: #0A3871;
    border: 1px solid #0A3871;
}

/** Palabra secreta y caracteres errados */
#secret-word,
#wrong-characters {
    align-items: center;
    display: flex;
    font-size: 2rem;
    gap: 1rem;
    justify-content: center;
}
.character {
    border-bottom: 1px solid black;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    width: 1.4rem;
}
.space.character {
    border: none;
}
.wrong-character {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    width: 1.4rem;
}
.won {
    display: grid;
    height: 100vh;
    margin: 0;
    padding: 0;
    place-items: center;
    position: absolute;
    top: 0;
    width: 100vh;
}
.won-box {
    align-items: flex-end;
    display: flex;
    justify-content: end;
    margin: 0 0 16rem 0;
    max-width: 400px;
    width: 100%;
}
.won-message {
    color: red;
    font-size: 1.4rem;
    font-weight: 500;
    max-width: 33%;
    width: 100%;
}

.alert-box {
    background: #FFFFFF;
    border-radius: 32px;
    border: none;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    margin: 70px 0 40px 0;
    padding: 24px;
}

.title {
    color: #343A40;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
}

.message,
.copyright {
    color: #495057;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.copyright {
    font-size: 14px;
}

@media ( min-width: 768px ) {
    .btn-group {
        flex-direction: row;
    }
    .home .btn-group {
        flex-direction: column;
        gap: 2rem;
    }
    .btn {
        max-width: 25rem;
        width: 22rem;
    }
    .btn-start {
        height: 6rem;
        width: 25rem;
    }
}

@media ( min-width: 1024px ) {
    .footer {
        width: 75%;
    }
}

@media ( min-width: 1240px ) {
    .container {
        max-width: 90%;
        width: initial; 
    }
    .main {
        justify-content: space-around;
        margin: 8rem 0 2rem 0;
    }
    .main-content {
        flex-direction: row;
        gap: 1rem;
    }
}