* {
    /* border: 1px dotted green; */
}

.container {
    /* background-color: orange; */
}

.logo-link {
    /* border: 4px solid red;    */
}

.aside {
    /* background-color: blue; */
}

.main {
    /* background-color: blue; */
}

.result {
    border: 1px solid orange;
}

.actions {
    border: 1px dotted darkorange;
}
.canvas {
    border: 1px dotted blue;
}
.canvas-layout {
    border: 1px dotted red;
}